---
import quippImage from "../../assets/quipp-image.png";
import melodyImage from "../../assets/prj-melody.png";
import flowImage from "../../assets/flow-img.gif";
import flixImage from "../../assets/flix-markdown.webp";
import { Section } from "../containers";
import { Image } from "astro:assets";

const projects_v2 = [
  {
    title: "Quipp",
    github: "https://github.com/DreckSallow/melody",
    website: "https://qa-web.vercel.app/",
    img: quippImage,
    alt: "Quipp project image",
    description:
      "🌐 A community-driven platform for interactive discussions, ideal for live streams and Q&A sessions.",
  },
  {
    title: "Melody",
    img: melodyImage,
    github: "https://github.com/DreckSallow/qa-web",
    alt: "Melody project image",
    description:
      "🎧 A terminal-based music player (TUI) with keyboard navigation, designed for efficiency and minimalism.",
  },
  {
    title: "Flix",
    img: flixImage,
    github: "https://github.com/DreckSallow/flix",
    website: "https://flixdev.netlify.app/",
    alt: "Flix project image",
    description:
      "🖥️ An open-source desktop app that integrates Anki decks with note-taking for enhanced study sessions.",
  },
  {
    title: "Flow",
    img: flowImage,
    github: "https://github.com/DreckSallow/flow",
    alt: "Flow project image",
    description:
      "✅ A CLI task manager for streamlined project organization and workflow optimization.",
  },
];
---

<Section
  class="mt-20"
  title="My Projects"
  description="Looks what I do and visit the repositories or websites."
  id="projects"
>
  <ul class="projects-grid mx-auto mt-8">
    {
      projects_v2.map((project) => (
        <li class=" h-[22rem] flex flex-col justify-between">
          <div>
            <Image
              src={project.img}
              alt={project.alt}
              class="w-full h-[12rem] rounded-xl"
            />
            <h5 class="text-lg text-semibold mt-2">{project.title}</h5>
            <p class="text-md text-light mt-1">{project.description}</p>
          </div>
          <div class="flex flex-row gap-4 mt-2">
            {project.github && (
              <a
                class="btn-primary btn-xs"
                href={project.github}
                target="_blank"
              >
                Github {"->"}
              </a>
            )}
            {project.website && (
              <a
                class="btn-primary btn-xs"
                href={project.website}
                target="_blank"
              >
                Website {"->"}
              </a>
            )}
          </div>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  .projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2rem;
    row-gap: 4rem;
    justify-items: center;
    justify-content: center;

    @media (min-width: 640px) {
      grid-template-columns: minmax(15rem, 22rem) minmax(15rem, 22rem);
    }

    @media (min-width: 1080px) {
      grid-template-columns: 22rem 22rem 22rem;
    }
  }
</style>
